.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 17px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
