.popup__container {
  display: flex;
  flex-direction: column;
  width: 470px;
  align-items: center;
  gap: 8px;
}

@media (max-width: 720px) {
  .popup__container {
    width: 282px;
    gap: 16px;
  }
}
