.popup__submit-button {
  height: 50px;
  text-align: center;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  padding: 0;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.2222;
  transition: opacity 0.2s;
}

.popup__submit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
