.footer {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  color: #545454;
  padding-top: 66px;
}

@media (max-width: 720px) {
  .footer {
    padding-top: 48px;
    max-width: calc(100% - 19px * 2);
    font-size: 14px;
  }
}
